<h1>To do list</h1>
<ul>
   <% @tasks.each do |task| %>
     <li><%= task.completed %> - <%= task.title %> - <%= link_to "Voir", task_path(task.id) %> - <%= link_to "Supprimer",
             task_path(@task),
             method: :delete,
             data: { confirm: "Confirmer la suppression?" } %></li>

   <% end %>
 </ul>
 <p><%= link_to "Nouvelle tâche", new_path %></p>
